/* Fonte padrão */
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #333;
    line-height: 1.6;
  }
  
  /* Logomarca */
  .logo {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
  }
  
  /* Código */
  .code-snippet {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f4f4f4;
    padding: 1rem;
    display: block;
    border-left: 4px solid #fad429;
  }

  .titulo {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #f91b1f;
    margin: 2rem 0 1.5rem;
  }

  #logo-fonte {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
  }